<div class="row expanded">
    <div class="small-12 large-12 column">
        <!--<tabset vertical="false" justified="false">
            <tab heading="Historical uptake" select="vm.loadHistorical()"></tab>
            <tab heading="Compare with other legs" select="vm.loadOtherlegs()"></tab>
            <tab heading="Individual leg (U-boat)" select="vm.loadUboat()"></tab>
        </tabset>-->

        <ul class="tabs" data-tabs id="leg-tabs">
            <li class="tabs-title"><a href="" ng-click="vm.loadHistorical()">Historical uptake</a></li>
            <li class="tabs-title"><a href="" ng-click="vm.loadOtherlegs()">Compare with other legs</a></li>
            <li class="tabs-title"><a href="" ng-click="vm.loadUboat()">Individual leg (U-boat)</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="leg-tabs">
            <div class="tabs-panel is-active">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>